@use "../base.scss";

/* Multi Column Callout */

/* Basic variables (in English) */
:root {
  --callout-min-width: 200px;
  --callout-gap: 1em;
}

/* Style for the multi-column callout */
.callout[data-callout="column"] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--callout-gap);
  background: transparent;
  border: none;
  padding: 0;
}

/* Removes the Title */
.callout[data-callout="column"] > .callout-title {
  display: none;
}

/* Make the main callout content occupy full width */
.callout[data-callout="column"] > .callout-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--callout-gap);
  width: 100%;
}

/* Style for internal callouts */
.callout[data-callout="column"] > .callout-content > .callout {
  flex: 1 1 var(--callout-min-width);
  margin: 0;
}

/* Variation for fixed 2 columns */
.callout[data-callout="column"][data-callout-metadata*="col2"] > .callout-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Variation for fixed 3 columns */
.callout[data-callout="column"][data-callout-metadata*="col3"] > .callout-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Width options for sub-callouts */
div[data-callout="column"].callout > .callout-content > div[data-callout-metadata*="wide-2"] { 
  flex-grow: 2; 
}

div[data-callout="column"].callout > .callout-content > div[data-callout-metadata*="wide-3"] { 
  flex-grow: 3; 
}

