@use "../base.scss";

/* Basic variables */
:root {
  --callout-min-width: 200px;
  --callout-gap: 1em;
}

/* Removes the Title */
.callout[data-callout="column"] > .callout-title {
  display: none;
}

/* Style for the multi-column callout */
.callout[data-callout="column"] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--callout-gap);
  background: transparent;
  border: none;
  padding: 0;
}

/* Make the main callout content occupy full width */
.callout[data-callout="column"] > .callout-content > .callout-content-inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--callout-gap);
  width: 100%;
}

/* Style for internal callouts */
.callout[data-callout="column"] > .callout-content > .callout-content-inner > .callout {
  flex: 1 1 var(--callout-min-width);
  margin: 0;
}

/* Variation for fixed 2 columns */
.callout[data-callout="column"][data-callout-metadata*="col2"] > .callout-content > .callout-content-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Variation for fixed 3 columns */
.callout[data-callout="column"][data-callout-metadata*="col3"] > .callout-content > .callout-content-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Width options */
.callout[data-callout="column"] > .callout-content > .callout-content-inner > .callout[data-callout-metadata*="wide-2"] {
  flex-grow: 2;
}
.callout[data-callout="column"] > .callout-content > .callout-content-inner > .callout[data-callout-metadata*="wide-3"] {
  flex-grow: 3;
}
