@use "./base.scss";

// put your custom CSS here!

// center images
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// set italic color
em {
    color: var(--italic_color);
}

// set bold color
strong, .page article p > strong {
    color: var(--bold_color);
}
