@use "./base.scss";

// put your custom CSS here!

// center images
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// set italic
em {
    background-color: var(--highlight);
    padding: 1px;
    border-radius: 4.5px;
    font-style: normal; /* Remove italic formatting */
}

// set bold color
strong, .page article p > strong {
    color: var(--tertiary);
}

// set bold italic
em strong, strong em {
    color: var(--darkgray);
}
